#Backend
nlw-habits-backend/node_modules
nlw-habits-backend/dist
nlw-habits-backend/.env
nlw-habits-backend/prisma/migrations
nlw-habits-backend/prisma/dev.db
nlw-habits-backend/prisma/dev.db-journal

#Frontend
nlw-habits-frontend/node_modules
nlw-habits-frontend/dist
nlw-habits-frontend/.env

#Mobile
nlw-habits-mobile/node_modules
nlw-habits-mobile/dist
nlw-habits-mobile/.expo
nlw-habits-mobile/.env